.carousel-container {
  position: relative;
}

.carousel-content_view {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

.carousel-view {
  position: relative;
  min-width: 100%;
  z-index: 10;
}

.carousel-btn {
  pointer-events: all;
  color: var(--greenDesafiante);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  width: 5rem;
  height: 5rem;
  text-align: center;
  position: absolute;
  transition: 0.1s ease all;
  border-radius: 50%;
  top: calc(50vh - 2.5rem);
  z-index: 100;
}
.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 50%;
}
.carousel-btn_right {
  left: 0;
}
.carousel-btn_left {
  right: 0;
}
