.container-changePasswrod-profile {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.content-modal {
  width: 90%;
  min-height: 6.25rem;
  background: var(--white);
  position: relative;
  border-radius: 0.938rem;
  box-shadow: rgba(71, 71, 135, 0.2) 0px 7px 27px 0px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 0.5s;
}

@keyframes modal-open {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.title-modal {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--turquoise);
  font-size: 1.6rem;
}

.buttonModalEdit {
  padding: 0.625rem;
  border-radius: 0.375rem;
  margin-top: 0.625rem;
  margin-left: 0.2rem;
  background-color: var(--turquoise);
  font-weight: bold;
  color: var(--white);
  border: none;
  transition: 400ms;
}

.buttonModalEdit:hover {
  background-color: var(--white);
  color: var(--turquoise);
  transform: scale(1.05);
  font-weight: bold;
  cursor: pointer;
  border: 0.1rem solid var(--turquoise);
}

@media (min-width: 48rem) {
  .container-changePasswrod-profile {
    display: flex;
    width: calc(100vw - 5.625rem);
    margin-left: 5.625rem;
    align-content: center;
  }
}
@media (min-width: 64rem) {

}
