.carouselTwo-section {
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.carouselTwo-container {
  margin-top: 40px;
  color: var(--white);
  font-family: var(--fontTitles);
  padding: 20px;
}

.carouselTwo-title {
  font-weight: bold;
}
.carouselTwo-container_img .carouselTwo-img {
  width: 300px;
  margin-bottom: 10px;
}

@media (min-width: 700px) {
  .carouselTwo-title {
    font-size: 32px;
  }
  .carouselTwo-paragraph {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .carouselTwo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .carouselTwo-title {
    font-size: 28px;
  }
  .carouselTwo-paragraph {
    font-size: 16px;
  }
  .carouselTwo-content_text {
    width: 200px;
  }

  .carouselTwo-container_img .carouselTwo-img {
    width: 340px;

    margin-left: 10px;
  }
}

@media (min-width: 1000px) {
  .carouselTwo-content_text {
    width: 700px;
  }
  .carouselTwo-content_text-right {
    position: relative;
    left: 50px;
  }
  .carouselTwo-content_text-left {
    position: relative;
    right: 50px;
  }
  .carouselTwo-container_img .carouselTwo-img {
    width: 540px;
  }
}

@media (min-width: 1200px) {
  .carouselTwo-paragraph {
    font-size: 18px;
  }
  .carouselTwo-container_img .carouselTwo-img {
    width: 700px;

    margin-left: 20px;
  }
}
