.section-carousel-two {
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.content-carousel-two {
  margin-top: 40px;
  color: var(--white);
  font-family: var(--fontTitles);
  padding: 20px;
}

.carousel-two-title {
  font-weight: bold;
}
.conteiner-img-component-two .img-carousel-two {
  width: 300px;
  margin-bottom: 10px;
}

@media (min-width: 700px) {
  .carousel-two-title {
    font-size: 32px;
  }
  .carousel-two-paragraph {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .content-carousel-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .carousel-two-title {
    font-size: 28px;
  }
  .carousel-two-paragraph {
    font-size: 16px;
  }
  .container-text-carousel-two {
    width: 200px;
  }

  .conteiner-img-component-two .img-carousel-two {
    width: 340px;

    margin-left: 10px;
  }
}

@media (min-width: 1000px) {
  .container-text-carousel-two {
    width: 700px;
  }
  .container-text-carousel-two-right {
    position: relative;
    left: 50px;
  }
  .container-text-carousel-two-left {
    position: relative;
    right: 50px;
  }
  .conteiner-img-component-two .img-carousel-two {
    width: 540px;
  }
}

@media (min-width: 1200px) {
  .carousel-two-paragraph {
    font-size: 18px;
  }
  .conteiner-img-component-two .img-carousel-two {
    width: 700px;

    margin-left: 20px;
  }
}
