.learningPath-container {
  padding-bottom: 4rem;
}

@media (min-width: 48rem) {
  .learningPath-container {
    padding-bottom: 0rem;
  }
}

@media (min-width: 64rem) {
  .learningPath-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
