.carouselOne-section {
  width: 100%;
  height: 100%;
  display: flex;
}

.carouselOne-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.carouselOne-img_one {
  min-width: 18.75rem;
  width: 20rem;
  height: 17.5rem;
  margin-top: 5rem;
  margin-bottom: 0;
}

.carouselOne-img_two {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 9.375rem;
}

.carouselOne-content_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 22.222rem;
  width: 13.888rem;
}

.carouselOne-title {
  margin-left: 1.666rem;
  font-size: 1.666rem;
}

.carouselOne-title_lettersGreen {
  color: var(--greenDesafiante);
  font-size: 1.388rem;
}

.carouselOne-title_lettersYellow {
  color: var(--yellow);
  font-size: 1.388rem;
}

.carouselOne-paragraph {
  color: var(--greenContentLetter);
  text-align: center;
  padding: 0.555rem;
}

@media (min-width: 23.438rem) {
  .carouselOne-img_two {
    width: 9.375rem;
    margin-top: 0.555rem;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .carouselOne-img_one {
    width: 23.75rem;
    height: 17.5rem;
    margin-top: 5rem;
    margin-bottom: 0;
  }

  .carouselOne-content_text {
    position: absolute;
    top: 22.222rem;
    right: 1.666rem;
  }
}

@media (min-width: 26.563rem) {
  .carouselOne-img_two {
    width: 9.375rem;
    margin-top: -3.888rem;
  }

  .carouselOne-content_text {
    position: absolute;
    top: 23.333rem;
    right: 2.222rem;
  }
}

@media (min-width: 30rem) {
  .carouselOne-img_one {
    width: 23.75rem;
    height: 17.5rem;
  }

  .carouselOne-content_text {
    right: 4.444rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .title-content {
    width: 19.444rem;
    right: 4.444rem;
    align-items: center;
    padding: 0.444rem;
  }

  .carouselOne-title_size {
    font-size: 2.222rem;
  }
}

@media (min-width: 35rem) {
  .carouselOne-img_one {
    width: 25rem;
    height: 17.5rem;
  }

  .carouselOne-content_text {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 23.333rem;
    right: 2.222rem;
    width: 25rem;
  }

  .carouselOne-title_size {
    font-size: 2.375rem;
    width: 25rem;
  }

  .carouselOne-paragraph {
    font-size: 1.111rem;
  }
}

@media (min-width: 43.75rem) {
  .carouselOne-img_one {
    position: relative;
    width: 30rem;
    height: 21.25rem;
    margin-top: 1.111rem;
  }

  .carouselOne-img_two {
    width: 11.111rem;
  }

  .carouselOne-content_text {
    right: 5.555rem;
  }
}

@media (min-width: 48rem) {
  .carouselOne-img_one {
    width: 32.5rem;
    height: 25rem;
    right: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 11.111rem;
  }

  .carouselOne-img_two {
    position: absolute;
    bottom: 0;
    width: 16.25rem;
    height: 45rem;
    left: 0;
  }

  .carouselOne-content_text {
    position: absolute;
    top: 19.222rem;
    left: 2.222rem;
    width: 25rem;
  }

  .carouselOne-title_size {
    font-size: 2.222rem;
  }

  .carouselOne-paragraph {
    font-size: 1.444rem;
    width: 18.75rem;
  }
}

@media (min-width: 53.125rem) {
  .carouselOne-content_text {
    left: 4.444rem;
  }
}

@media (min-width: 56.25rem) {
  .carouselOne-content_text {
    position: absolute;
    top: 22.222rem;
    left: 5.555rem;
    width: 25rem;
  }
}

@media (min-width: 60rem) {
  .carouselOne-content_text {
    left: 7.777rem;
  }
}

@media (min-width: 66.25rem) {
  .carouselOne-img_one {
    width: 37.5rem;
    height: 26.875rem;
  }

  .carouselOne-content_text {
    left: 10rem;
  }

  .carouselOne-paragraph {
    width: 28.125rem;
  }
}

@media (min-width: 68.75rem) {
  .carouselOne-content_text {
    top: 13.333rem;
    left: 11.111rem;
  }

  .carouselOne-img_one {
    width: 40rem;
    height: 30rem;
    right: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 8.889rem;
  }
}

@media (min-width: 75rem) {
  .carouselOne-img_one {
    margin-top: 0;
    min-width: 55rem;
    max-width: 56.25rem;
    min-height: 34.375rem;
    max-height: 40.625rem;
  }

  .carouselOne-title {
    width: 31.25rem;
    margin-top: 4.444rem;
  }

  .carouselOne-title_size {
    font-size: 4.444rem;
  }
}
