.form-forget_container {
  background-color: var(--darkBlue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-content {
  text-align: center;
  margin-bottom: 1.4rem;
  color: var(--white);
}

.form-forget_button {
  padding: 0.7rem;
  border-radius: 1.25rem;
  background-color: var(--greenDesafiante);
  color: var(--white);
  border: none;
}
.link-forget {
  text-decoration: none;
}

@media (min-width: 48rem) {
  .form-forget_title {
    font-size: 2rem;
  }
  .form-forget_paragraph {
    font-size: 1.2rem;
  }
  
  .form-forget_button {
    font-size: 1.2rem;
    padding: 1rem;
    transition: 400ms;
  }
  .form-forget_button:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--turquoise);
    transform: scale(1.05);
    font-weight: bold;
  }
}
@media (min-width: 48rem) {
  .header-access_btn {
    width: 9rem;
    font-size: 0.8rem;
  }
}
