.header-home {
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0.5rem;
  z-index: 200;
  background-color: var(--lightGrey);
}

.sesionButtonHeader {
  display: flex;
  justify-content: space-around;
  gap: 0.8rem;
}

@media (min-width: 768px) {
  .header-home {
    padding: 0.5rem 1rem;
  }

  .sesionButtonHeader {
    gap: 1.5rem;
  }
}
