.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 200;
  width: 100%;
  min-width: 20rem;
  padding: 0.5rem;
  align-items: center;
  background-color: #ffffffbe;
}

.header-container_btn {
  display: flex;
  justify-content: space-around;
  gap: 0.7rem;
}

@media (min-width: 48rem) {
  .header {
    padding: 0.5rem 1rem;
  }

  .header-container_btn {
    gap: 1.5rem;
  }
}
