.input-wrapper {
  position: relative;
  padding: 0.6rem;
  margin-top: 0.8rem;
}
.form-reset_input {
  padding: 0.6rem;
  border-radius: 0.8rem;
  width: 15rem;
  border: none;
  outline: 0.05rem solid var(--turquoise);
  background-color: transparent;
  color: var(--white);
  font-size: 0.8rem;
}

.form-reset_input:focus + .form-reset-label {
  transform: translateY(-2.1rem);
  color: var(--turquoise);
  padding-left: 0rem;
  font-size: 0.9rem;
}

.form-reset_input:not(:placeholder-shown) + .form-reset-label {
  transform: translateY(-1.9rem);
  transition: 0.5s;
}
