.msg-forget_container {
  background-color: var(--darkBlue);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msg-forget_title {
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  color: var(--white);
}
.msg-forget_message {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 85%;
  min-width: 12.5rem;
  min-height: 9.375rem;
  border-radius: 0.625rem;
  background-color: white;
}
.message_paragraph {
  padding: 0.625rem;
  font-size: 0.875rem;
}

@media (min-width: 31.25rem) {
  .msg-forget_title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .message_paragraph {
    padding: 0.875rem;
    font-size: 1.125rem;
  }
}
@media (min-width: 45rem) {
  .msg-forget_message {
    width: 42.5rem;
  }
  .message_paragraph {
    font-size: 1.625rem;
  }
}
